.past {
    opacity: 0.66;
}



.sub {
    font-size: 66%;
    white-space: nowrap;
    position: absolute;
    top: 3em;
}

.matches td {
    position: relative;
}

.matches td:nth-child(2) {
    text-align: right !important;
}

.matches.loader:before {
    display: inline-block;
    content: '☯';
    font-size: 64px;
    animation: loader 1.0s infinite;
    position: fixed;
    left: 50%;
    z-index: 100;
}

@keyframes loader {
    0% { 
	transform: rotate(0deg);
	opacity: 0.2;
    } 
    50%{
	opacity: 0.8;
    }
    100% {
	transform: rotate(360deg);
	text-shadow: 0 0 15px;
	opacity: 0.2;
    }
}